/* ========== GLOBAL WEBSITE SETUP ========== */


/* ---------- Reset ---------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* ---------- Smooth Scroll ---------- */
html {
    scroll-behavior: smooth;
}


/* ---------- Body ---------- */
body {
    font-family: 'Inter', sans-serif;
    background-color: #f6f7f9;
    background-image: url('../images/texture/texture-1.webp');
    background-repeat: repeat;
    background-size: 500px;
    color: #23272e;
}


/* ---------- Headings ---------- */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
}


/* ---------- Links ---------- */
a {
    text-decoration: none;
    color: inherit;
}


/* ---------- Images ---------- */
img {
    display: block;
    max-width: 100%;
}